<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<staticContent>
 <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
</staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
	
    </system.webServer>
	
</configuration>
